.node {
  padding: 16px;
  position: absolute;
  z-index: 4;
  border: 1px solid #2e6f9a;
  box-shadow: 2px 2px 19px #e0e0e0;
  border-radius: 8px;
  opacity: 0.8;
  cursor: move;
  font-size: 11px;
  transition: background-color 0.25s ease-in;
  max-width: 10em;
}
.node:hover {
  background-color: #5c96bc;
  color: white;
}
.nodeDragHover {
  border: 2px solid orange;
}
 .endPoint {
  position: absolute;
  bottom: 37%;
  right: 5px;
  width: 1em;
  height: 1em;
  background-color: orange;
  cursor: pointer;
  box-shadow: 0 0 2px black;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in;
  -moz-transition: -moz-box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
}
.endPoint:hover {
  box-shadow: 0px 0px 6px black;
}
.edgeLabel {
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}
.edgeLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
  background-color: #1e8151;
  color: white;
}
.edgeLabel {
  background-color: white;
  opacity: 0.8;
  padding: 0.3em;
  border-radius: 0.5em;
  border: 1px solid #346789;
  cursor: pointer;
}
path {
  cursor: pointer;
}
